@import './style.scss';

.services {
    margin-top: 14vh;
    margin-bottom: 14vh;
    text-align: center;

    p {
        color: $second-color;
    }

    h1 {
        color: $first-color;
        font-size: 5vw;
        margin-bottom: 10vh;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .border {
            border: 1px solid $border-color;
            padding: 3vh 3vw;
            text-align: left;
            cursor: pointer;

            img,
            h3,
            p {
                margin-bottom: 2vh;
                margin-top: 2vh;
            }
        }
    }

    @media screen and (max-width: 1024px) {
        .grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media screen and (max-width: 768px) {
        .services {
            margin-top: 3vh;
        }

        .grid {
            grid-template-columns: repeat(1, 1fr);
            margin: 2vh 3vw;
        }

        p {
            font-size: 4vw;
        }

        h3 {
            font-size: 6vw;
            margin-bottom: 6vh;
        }
    }
}